<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dicodingmovietv">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.example.dicodingmovietv.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.example.dicodingmovietv.WRITE_DATABASE" android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/popcorn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/popcorn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".DataFavoritProvider"
            android:authorities="com.example.dicodingmovietv"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Widget.ImageBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <service
            android:name=".Widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".Activity.ReminderActivity" />
        <activity android:name=".Fragment.FragmentFavoriteTVShow" />
        <activity android:name=".Activity.DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>